<a href="https://colab.research.google.com/github/LucasSantAnnaFernandes/demo_python_class/blob/main/Loops_%26_Conditions_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Conditions Exercises**##

1. There are 2 sisters, Annie and Jane, born in 1996 and 1999 respectively. They want to know who was born in a leap year. Write an if-else statement to determine who was born in a leap year.

In [10]:
# leap year is that which divided by 4 gives zero remainder.

annie = 1996
jane = 1999

if jane % 4 == 0:
    print("Jane was born in a leap year!")
elif annie % 4 == 0:
    print("Annie was born in a leap year!")
else:
    print("None of them were born in a leap year.")

Annie was born in a leap year!

2. In a school canteen, children under the age of 9 are only given milk porridge for breakfast. Children from 10 to 14 are given a sandwich, and children from 15 to 17 are given a burger. The canteen master asks the age of the student and gives them breakfast accordingly. Sam's age is 10. Use if-else statement to determine what the canteen master will offer to him.

In [4]:
# sam <= 9 = milk
# 10<= sam <= 14 = sandwich
# 15<= sam <= 17 burguer

sam = 10

if sam <= 9:
    print(' Sam will receive a milk.')
elif 10<=sam<=14:
    print('Sam will receive a sandwich.')
elif 15<=sam<= 17:
    print('Sam will receive a hamburguer.')

Sam will receive a hamburguer.

# **Loops Exercises**

1. Write a for loop the prints out all the element between -5 and 5 using the range function. In this case, I will include -5 and 5 in the code, so the range will be to -5 to 6.

In [ ]:
for c in range(-5,6):
  print(c)

2. Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [ ]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for c in Genres:
  print(c)

3. Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

In [ ]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for c in squares:
  print(c)